.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 6rem;
}

.navbar-links {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  margin-right: 2rem;
  font-size: 50px;
  color: var(--color-text);
}

.navbar-links-container {
  display: flex;
  flex-direction: row;
}
